/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}


img{
    display: block;
    width: 100%;
}

h2{
    height: 55px;
    text-align: center;
    padding: 12px;
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 600;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    margin: 20px 0;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

#home{
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

#banner{
    background: url("../img/home/banner.png") no-repeat;
    height: 300px;
    background-size: cover;
    background-position: 45% top;
    margin: 10px 0;
}

#nav{
    border-top: 1px solid #D8D8D8;
    width: 96%;
    margin: 0 auto;
}
.nav-tabs>li>a{
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    word-spacing: nowrap;
}

.nav-tabs.nav-justified>li>a{
    border-bottom: 0;
}

#slider{
    width:82%;
    margin: 0 auto;
}

.slick-prev{
    background: url("../img/slider/left-nav.png") no-repeat;
    width: 150px;
    height: 200px;
    top: 33%;
    left: -121px;
    zoom: 66%;
}

.slick-next{
    background: url("../img/slider/right-nav.png") no-repeat;
    width: 150px;
    height: 200px;
    top: 33%;
    right: -156px;
    zoom: 66%;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
}


.thumbnail-app-name{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

.thumbnail-app-name span{
   white-space: nowrap;
}

.sale{
    color:#f40e0e;
}

.price{
    display: block; 
    float:left;
}

.quantity{
    text-align: center;
    display: block;
}


#slider .onSale{
    padding-left: 35px;
}

.regular{
    color: #7c7c7c;
    transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);

}

#productGrid .thumbnail{
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
}   

.thumbnail{
    border: 0;
    position: relative;
}

.thumbnail:hover{
    cursor: pointer;
}


#slider .thumbnail{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition : transform 0.5s ease;
    -ms-transition : -ms-transform 0.5s ease;
    -o-transition : -o-transform 0.5s ease;
    -webkit-transition : -webkit-transform 0.5s ease;
    -moz-transition : -moz-transform 0.5s ease;
}

#slider .thumbnail:hover{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.overlay{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background: red;
      text-align: center;
      padding: 10px;
      opacity: 0.8;
}

.slick-dots{
    display: none !important;
}

@media only screen and  (min-width: 320px) and (max-width: 767px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }

    #slider .thumbnail {
      width: 100px;
      height: 100px;
    }

    #productGrid .thumbnail {
      width: 67%;
      height: auto;
    }

    h2{
      padding: 19px;
      font-size: 16px;
      max-width: 400px;
      overflow: hidden;
    }
    span.regular.price.col-xs-offset-2{
      white-space: nowrap;
      margin-left: 1px;
    }

    #slider .onSale{
        padding-left: 0;
        white-space: nowrap;
    }

    .glyphicon{
        display: block;
        top: 5px;
        zoom: 150%;
        position: absolute;
    }
    .nav{
        display: none;
    }
}


@media only screen and  (min-width: 767px){
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .glyphicon{
        display: none;
    }
}

